body{
    margin: 0;
    padding: 0;
    background-image: url(Alert.jpg.jpg);
    font-family: sans-serif;
    background-image: center;
    background-size: cover;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: rgb(78, 8, 8);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 2%;
}

h2{
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: 'Segoe UI';
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"] 
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
    height: 30px;
    font-size: 16px;
    font-family: 'Segoe UI';
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(243, 206, 206);
    font-size: 18px;
    color:black;
    font-weight: bolder;
    font-family: 'Segoe UI';
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    color: white;
    background: brown;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.loginbox a:hover
{
    color: darkred;
}